.content {
  color: white;
  background-color: DodgerBlue;
  padding: 10px;
  font-family: Arial;
  margin: 10px;
}
.loginClass {
  border: 1px solid black;
  background: lightblue;
}

.font10 {
  font-size: 10px;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font6 {
  font-size: 8px;
}
.loginClass {
  margin: 15% auto;
  width: 40%;
  border: 3px solid green;
  padding: 1%;
}
.loginHeadline {
  font-size: 20px;
}

.LoginButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logininputClass {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.logininputClassErr {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.SearchAllClass {
  width: 50%;
  float: left;
}
.SearchHomePlanet {
  width: 50%;
  float: right;
}
.logoutButton {
  position: absolute;
  background-color: red; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}
.gridview-home-search {
  background-color: #4caf50; /* Green */
  margin-left: 1%;
  border: none;
  color: white;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
