.content {
  color: white;
  background-color: DodgerBlue;
  padding: 10px;
  font-family: Arial;
  margin: 10px;
}

.font10 {
  font-size: 10px;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font6 {
  color: red;
  font-size: 8px;
}
